---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Contenedor from '../components/Contenedor.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Banc Sabadell">
	<main>
		<Header/>
		<Contenedor/>
		<Footer/>
	</main>
</Layout>

<style>
	
</style>
